@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="test">111111111111111111111111</div>

@section scripts{
<script>

    $(function () {


            $.ajax({
                type: 'Get',
                url: 'http://localhost:52250/api/authors',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {

                    $('#test').text(JSON.stringify(response));
                },
                error: function (error) {
                    alert(error.status);
                    console.log(error);
                }
            });
        });


</script>
    }


